* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

html {
  /* width: 100dvw;
  height: 100dvh; */
}

:root {
  --primaryBackground: #02080d;
  --primaryTextColor: #eef5fc;
  --primaryButtonColor: #8e8eeb;
  --secondaryColor: #bd8eeb;
  --secondaryTextColor: #c0c7ce;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
}

.navbar-container {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--secondaryColor);
  background-color: var(--primaryBackground);
  flex-wrap: wrap;
}

.main-page {
  display: flex;
  height: 100dvh;
  overflow: auto;
}

.register-btn {
    padding: .25em .5em;
    color: var(--primaryTextColor);
}

.register-container:hover {
  transition: 400ms;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: .5em;
}

.single-links {
    padding: .7em 5px .25em 5px;
    border: var(--primaryBackground);
}

.single-links:hover {
    border-bottom: 1px solid var(--secondaryColor);
    transition: 200ms;
}

a {
  text-decoration: none;
}

.single-links:visited {
  color: var(--primaryTextColor);
}

.navbar-group1 {
  display: flex;
  align-items: center;
  padding: 1em;
}

.link-container {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 2.5em;
  padding: 0 0.5em;
  color: var(--primaryTextColor);
}

.posts-header {
  font-size: 35px;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 1em;
  position: relative;
  border-bottom: 1px solid #262a2e;
  margin: 1em 0px;
}

.post-gametitle-and-activity {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.create-post-btn-and-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.create-post-btn {
  align-self: center;
  padding: 1em;
  border-radius: 5px;
  color: var(--primaryTextColor);
  background-color: var(--primaryBackground);
  outline: none;
  border: solid rgba(181, 173, 173, 0.471);
}

.create-post-btn:hover {
  cursor: pointer;
  transition: 350ms;
  box-shadow: 1px 1px 1px rgba(245, 245, 245, 0.645);
  border: 1px solid var(--primaryButtonColor);
  box-shadow: 1px 2px 11px -1px var(--secondaryColor);
}

.create-post {
  display: flex;
  padding: 20px 0px 10px 0px;
}

.close-btn {
  color: red;
  padding: 0.5em 2em;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primaryBackground);
  border: 1px solid red;
}

.close-btn:hover {
  transition: 350ms;
  box-shadow: 2px 2px 30px 0px red;
}

.description-text {
  padding: 15px;
  height: 80px;
  width: 100%;
  resize: none;
  margin-top: 0.5em;
  border-radius: 5px;
  background-color: #262a2e;
  color: var(--primaryTextColor);
}

.inbox-message {
    color: var(--secondaryTextColor);
    margin-left: 1em;
}

textarea:focus {
  outline: white;
  border: none;
}

.submit-post-btn {
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--secondaryColor);
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
}

.submit-post-btn:hover {
  transition: 350ms;
  box-shadow: 1px 2px 15px 0px var(--primaryButtonColor);
}

.message-user-btn {
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primaryBackground);
  color: var(--primaryButtonColor);
  outline: none;
  border: var(--primaryBackground);
}

.message-user-btn:hover {
  transition: 300ms ease-in-out;
  border: 1px solid var(--primaryButtonColor);
  padding: 0.5em;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.send-message-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.send-message-btn {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: 1px solid var(--primaryButtonColor);
  margin: auto;
}

.send-message-btn:hover {
  transition: 350ms ease-in-out;
  border: 1px solid var(--primaryButtonColor);
  box-shadow: 1px 2px 11px -1px var(--primaryButtonColor);
}

.created-post-user {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.user-of-post {
  padding-left: 15px;
  color: red;
}


.game-title {
  font-size: 30px;
  color: var(--primaryTextColor);
}

.game-description {
  font-size: 18px;
}

.comments-container {
  padding-bottom: 10px;
  padding-left: 0.5em;
}

.comment-user {
  font-size: 20px;
}

.comment-time {
  font-size: 10px;
  padding-left: 10px;

  color: var(--secondaryTextColor);
}

.comments-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 30px;
}

.ind-comment-container {
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
}

.add-comment-btn-active {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 50%;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: 1px solid var(--primaryBackground);
}

.comment-btn-container {
  display: flex;
  align-items: center;
}

.add-comment-btn-active:hover {
  transition: 350ms ease-in-out;
  border: 1px solid var(--secondaryColor);
  box-shadow: 1px 2px 11px -1px var(--secondaryColor);
}

.add-comment-btn-closed {
  display: none;
}

.add-comment-btn:hover {
  background-color: rgba(196, 197, 196, 0.531);
  transition: 400ms;
  transform: translateX(2px);
}

.delete-post-btn {
  background-color: var(--primaryBackground);
  position: absolute;
  top: 3px;
  right: 2px;
  color: red;
  padding-top: 2px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.edit-post-form {
  display: flex;
  position: absolute;
  top: 33px;
  right: 0px;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.edit-post-form-inner {
  background-color: var(--primaryBackground);
  position: absolute;
  right: 40px;
}

.edit-post-btn {
  background-color: var(--primaryBackground);
  color: yellow;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.sidebarContainer {
  position: sticky;
  max-width: 40%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  gap: 3em;
  padding: 2em;
  border-right: 1px groove var(--secondaryColor);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-link-name {
  text-align: center;
  color: var(--primaryTextColor);
  padding: 1em;
  border: var(--primaryBackground);
}

.sidebar-link-name-container:hover {
  border: 1px solid var(--secondaryColor);
  box-shadow: 2px 2px 10px 0px var(--secondaryColor);
  padding: 1em 0.5em;
  transition: 200ms ease-in-out;
}

img {
  height: 40px;
}

.posts-and-header {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
  margin-top: 0;
}

.comment-username-and-time {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-bottom: 5px;
}

.comment-message {
  padding-left: 5px;
  font-size: 12px;
  color: var(--primaryTextColor);
  width: 60dvw;
  font-size: 12px;
}

#gameTitle {
  width: 100%;
}

option {
  text-align-last: center;
}

.game-header {
  font-size: 30px;
  padding-bottom: 3px;
}


.game-title-and-description {
  display: flex;
  flex-direction: column;
  padding: 1em 0 2em 0;
}

.confirm-edit-post-btn {
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid var(--secondaryColor);
}

.confirm-edit-post-btn:hover {
  background-color: rgba(196, 197, 196, 0.531);
  transition: 400ms;
  transform: translateX(2px);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin-top: 5px;
}

.logout-btn {
  color: var(--primaryTextColor);
}

.game-title-select {
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  background-color: #262a2e;
  color: var(--primaryTextColor);
}

.user-login-container {
  margin: auto;
  min-height: 100dvh;
  margin-top: 2em;
  overflow-y: hidden;
}

.login-header-page {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.post-time-sent {
  position: absolute;
  top: 3px;
  right: 30px;
  font-size: 0.75em;
  align-self: flex-start;
  color: var(--secondaryColor);
}

.input-login {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
  padding: 1em;
  outline: none;
}

.input-login:focus {
  border: 1px solid var(--primaryButtonColor);
  transition: 200ms ease-in-out;
  box-shadow: 1px 2px 11px -1px var(--primaryButtonColor);
  background-color: var(--primaryBackground);
}

.login-label-container {
  margin: 10px 10px 10px 0px;
}

input[type="text"],
input[type="password"] {
  padding: 1em;
  border-radius: 15px;
  border: 1px solid rgb(145, 140, 133);
  color: var(--primaryTextColor);
}

.login-btn-form-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.login-btn-form {
  background-color: #202124;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  min-width: 70%;
}

.login-btn-form:hover {
  border: 1px solid var(--primaryButtonColor);
  box-shadow: 1px 2px 11px -1px var(--primaryButtonColor);
  transition: 400ms;
}

.register-container-main {
  height: 100dvh;
}

.register-header-main {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.register-submit-btn {
  background-color: #202124;
  padding: 0.75em;
  color: var(--primaryTextColor);
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.register-submit-btn:hover {
  border: 1px solid var(--primaryButtonColor);
  box-shadow: 1px 2px 11px -1px var(--secondaryColor);
  transition: 350ms;
  padding: 1em;
}

.register-submit-btn-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.post-game-title {
  font-size: 2em;
  padding: 1em;
    text-align: center;
  font-weight: bold;
  color: var(--secondaryColor);
}

.game-activity {
  text-align: center;
}

.inbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding-top: 1em;
}

.inbox-header {
  font-size: 35px;
  padding-bottom: 15px;
}

.inbox-inner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryBackground);
  width: 100%;
}

.inbox-user-and-time {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.system-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 1em 0;
}

.system-label {
  padding: 10px;
  width: 200px;
  background-color: #202124d0;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.system-header {
  padding-bottom: 10px;
  text-align: center;
}

.allgames-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-user-and-img {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.system-logo {
  height: 25px;
  padding-top: 3px;
}

.sender-username {
  font-size: 25px;
}

.inbox-sent-time {
  padding-left: 10px;
  font-size: 10px;
  font-weight: 100%;
}

hr {
  height: 5px;
  background-color: white;
  margin-top: 40px;
}

.edit-post-submit-btn-container {
  display: flex;
  justify-content: flex-end;
}

.comment-text-and-btn {
  display: flex;
}

.comment-textfield {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
  padding: 1em;
  resize: none;
  flex: 1;
  line-height: 20px;
  height: 100%;
  border: var(--primaryBackground);
}

.comment-textfield:focus {
  border-bottom: 1px solid var(--secondaryColor);
  transition: 300ms;
}

.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.message-form textarea {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
  padding: 1em;
  resize: none;
  border: solid rgba(154, 144, 144, 0.331);
  line-height: 2em;
  width: 100;
  height: auto;
}

.message-form textarea:focus {
  border: 1px solid var(--primaryButtonColor);
  transition: 300ms ease-in-out;
  box-shadow: 1px 2px 11px -1px var(--primaryButtonColor);
}

.message-form-arrow-left {
  position: absolute;
  color: #202124a5;
  top: -5px;
  left: -29px;
}

.login-form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.login-error {
  text-align: center;
  color: red;
  padding-top: 1em;
}

.register-error {
  display: flex;
  text-align: center;
  justify-content: center;
  color: red;
  padding-top: 1em;
}

.register-form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.register-form input[type="text"],
input[type="password"] {
  background-color: var(--primaryBackground);
}

.register-form input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid var(--primaryButtonColor);
  outline: none;
  transition: 300ms;
}

.create-post-error {
  text-align: center;
  color: red;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 7px;
}

.post-submit-and-close-btn-container {
  display: flex;
  justify-content: space-between;
}

.game-activity-radio {
  display: none;
}

.game-activity-radio:checked + .system-label {
  background-color: #abaaaa;
  transition: 400ms;
  transform: translateX(3px);
}

.arrow-right {
  background-color: #20212400;
  color: #202124a5;
  position: absolute;
  top: -10px;
  right: -25px;
}

.dropdown-menu-icon-container {
  display: none;
  cursor: pointer;
  margin-right: .5em;
}

.dropdown-container-active {
  position: fixed;
  display: flex;
  gap: 2em;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #02080d;
  width: 100dvw;
  height: 100%;
  overflow-y: auto;
  color: var(--primaryTextColor);
  animation: dropdown-scroll-in 200ms ease-in-out;
}

.dropdown-container-active a {
  border: 1px solid var(--primaryButtonColor);
  padding: 1em 5em;
  cursor: pointer;
  margin-bottom: 1em;
  color: var(--primaryTextColor);
}

.dropdown-container-active li {
  list-style-type: none;
}

.dropdown-container-closed {
  position: fixed;
  right: 1000%;
  animation: dropdown-scroll-in 200ms ease-in-out;
}

.dropdown-game-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primaryBackground);
    max-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.dropdown-game-menu ul {
  margin-top: 3em;
}

.dropdown-game-menu li {
    border: 1px solid var(--primaryButtonColor);
    text-align: center;
    padding: 1em;
    margin: 2em;
    list-style-type: none;
    cursor: pointer;
}

.close-game-menu {
    position: fixed;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.dropdown-game-list {
  margin-top: 3em;
}

@keyframes dropdown-scroll-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.dropdown-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 2em;
}

.dropdown-close-icon {
  display: none;
}

.dropdown-close-icon-active {
  display: flex;
  justify-content: end;
  padding: 0.25em;
  cursor: pointer;
}

.login-error {
  color: red;
  font-weight: bold;
}

.comment-error {
  color: red;
  font-size: 12px;
  padding: 1em;
}

@media (max-width: 950px) {
  .sidebarContainer {
    display: none;
  }
}

@media (max-width: 700px) {
  .navbar-links {
    display: none;
  }
  .game-description {
    text-align: center;
  }

.message-container {
  align-items: center;
}

  .post-user-and-img {
    justify-content: center;
  }
  .message-form textarea {
    width: 70dvw;
  }
}

@media (max-width: 700px) {
  .dropdown-menu-icon-container {
    display: flex;
    align-items: center;
  }
}
