* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Anton', sans-serif;

}

body {
    height: 100vh;
    width: 100%;
}

  .app-container {
    display: flex;
    flex-direction: column;
    color: white;
 }  

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #202124;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} 

.register-container {
    display: flex;
    flex-direction: row;
    height: 100;
}

 .navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    padding: 5px;
}

.logout-btn {
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 5px;
} 

.single-links {
    color: white;
}

.single-links:visited {
    color: white;
}

.register-btn {
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid white;
}

.navbar-links {
    padding-left: 5px;
} 

.navbar-group1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.link-container {
   padding: 5px;
}

.header {
    font-size: 35px;
    padding-left: 20px;
    color: white
}

.posts-header {
    align-self: center;
    border-bottom: 2px solid white;
    font-size: 35px;
}

.posts {
    margin-top: 20px;
    width: 100%;
    margin-left: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.create-post-btn-and-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-post-btn {
    align-self: center;
    width: 15vh;
    height: 5vh;
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid white;
}
.create-post-btn:hover {
    background-color: rgba(196, 197, 196, 0.531);
    cursor: pointer;
    transition: 400ms;
    box-shadow: 1px 1px 1px rgba(245, 245, 245, 0.645);
    transform: translateY(4px);
}

.create-post {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.close-btn {
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5vh;
    width: 7vh;
    cursor: pointer;
    border: none;
}

.close-btn:hover {
    transition: 400ms;
    background-color: rgb(160, 14, 14);
    transform: translateY(2px);
}

.description-text {
    padding: 5px;
    height: 90px;
    width: 100%;
    resize: none;
}

textarea {
    resize: none;
}

.submit-post-btn {
    background-color: whitesmoke;
    color: black;
    padding: 4px;
    border-radius: 5px;
    width: 8vw;
    cursor: pointer;
    border: 1px solid whitesmoke
}

.submit-post-btn:hover{
    background-color: lightgrey;
    transition: 500ms;
    transform: translateY(2px);
}

.message-user-btn {
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 5px;
    width: 15vh;
    cursor: pointer;
    border: 1px solid white;
}

.message-user-btn:hover {
    background-color: lightgrey;
    transition: 500ms;
}

.created-post-user {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.user-of-post {
    padding-left: 15px;
    color: red;
}

.game-title-container {
    display: flex;
    padding-top: 25px;
}

.game-title {
    padding-left: 10px;
    color: red;
}

.game-description {
    width: 20%;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px;
}

.comments-container {
    padding-bottom: 10px;
}

.comment-user {
    padding-bottom: 4px;
}

.comment-time {
    font-size: 8px;
    padding-left: 10px;
    justify-content: end;
}

.comments-header {
    padding-bottom: 10px;
}

.ind-comment-container {
    padding-bottom: 10px;
}

.add-comment-btn {
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white
}

.delete-post-btn {
    background-color: red;
    color: black;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white
}
.delete-post-btn-container {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 40px;
}

.edit-post-form {
    display: flex;
    padding-bottom: 20px;
}

.edit-post-btn {
    background-color: yellow;
    color: black;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar-container {
    width: 22vw;
    height: 100vh;
    position: left;
    background-color: rgb(255, 255, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 50px;
}

.whole {
    display: flex;
    background-color: #202124
}

.sidebar-name {
    cursor: pointer;
    width: 60%;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.sidebar-name:hover {
    background-color: lightgrey;
    transition: 400ms;
    box-shadow: 5px 5px 8px rgb(151, 151, 151);
    transform: translateY(4px);
}

.sidebar-header {
    padding-top: 10px;
    border-bottom: 2px solid black;
    color: black
}

.comment-username-and-time {
    display: flex;
    align-items: center;
}

.comment-message {
    padding-bottom: 10px;
}